html {
    min-width: 1rem;

    scroll-behavior: smooth;
    scroll-padding-top: 10rem;


    --room-background: #02422E;
}

body {
    font-family: 'Courier New', Courier, monospace;

}

a {
    font-family: 'Courier New', Courier, monospace;

}